h1 {
    text-align:center;
}


button:hover {
    background-color:  #707679;
}

button {
    background-color: #a1a1a1;
}

button:disabled{
    background-color: #464646;
    color: #383838;
    cursor: auto;
}
