h1 {
    text-align:center;
}


button:hover {
    background-color:  #707679;
}

button {
    background-color: #a1a1a1;
}

button:disabled{
    background-color: #464646;
    color: #383838;
    cursor: auto;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 5px;
}

nav a:visited, a:link {
    color: #607d8b
}

nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
}

nav a:active {
    color: #039be5;
}