<div>
  <button class = "btn" routerLink = "/newGame">+</button>
</div>

<br>

<div>
  <input placeholder = "search name"  #searchInput (keyup) = "search(searchInput.value)">
</div>

<br>

<table class = "table table-bordered table-dark">

  <thead>

    <tr>

      <td>Name</td>
      <td>Details</td>
      <td>Delete</td>
      <td>Edit</td>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let game of filteredGames">


      <td>{{game.name}}</td>

      <td routerLink = "/detail/{{game.id}}">
        <button>details</button>
      </td>

      <td>
        <button (click) = "delete(game.id)">delete</button>
      </td>

      <td routerLink = "/editGame">
        <button class="btn btn-primary" (click) = setEditGame(game)>Edit</button>
      </td>

    </tr>

  </tbody>

</table>
