<div>
  <button class = "btn" routerLink = "/newGame">+</button>
</div>

<br>

<div>
  <input placeholder = "search name" type = "text" #searchInput (keyup) = "search(searchInput.value)">
</div>

<br>

<table class = "table table-bordered table-dark">

  <thead>

    <tr>

      <td>Name</td>
      <td></td>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let game of filteredGames">

      
      <td>{{game.name}}</td>

      <td routerLink = "/detail/{{game.id}}">
        <button>details</button>
      </td>

    </tr>

  </tbody>

</table>